
<p>This is the partial for view basic</p>
<div ng-app="myApp.viewBasic">
	<form name="frmCal" novalidate> <!-- do not use default validation of browser -->
	 	<p>
	 		Number 1: <input name="num1" type="number" ng-model="num1" ng-pattern="regexp" required>
	 		<span style="color:red" ng-show="frmCal.num1.$dirty && frmCal.num1.$invalid">
	 			<span ng-show="frmCal.num1.$error.required">First number is required!</span>
	 			<span ng-show="frmCal.num1.$error.pattern">Not a valid number!</span>
	 			<span ng-show="frmCal.num1.$error.number">Number only!</span>
	 			<!-- {{myForm.input.$error}} -->
	 		</span>
	 	</p>
	 	<p>Operator:
	 		<select ng-model="ope" ng-options="x for x in operators"></select>
	 	</p>
	 	<p>
	 		Number 2: <input name="num2" type="number" ng-model="num2" ng-pattern="regexp" ng-disabled="isNeedNum2(ope)">
	 		<span style="color:red" ng-show="frmCal.num2.$dirty && frmCal.num2.$invalid">
	 			<span ng-show="frmCal.num2.$error.pattern">Not a valid number!</span>
	 			<span ng-show="frmCal.num2.$error.number">Number only!</span>
	 			<!-- {{myForm.input.$error}} -->
	 		</span>
	 	</p>
	 	<button ng-click="calculate()" ng-disabled="!frmCal.$valid">Calculate</button>
	 	<h1>Result: {{calResult}}</h1>
	</form>
</div>